//@import url("https://fonts.googleapis.com/css2?family=Helvetica");
//* {
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//}

.navbar-togler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-togler{
  border: 0px!important;
}

@media (max-width: 575px) {

  .logo{
    width: 200px!important;
    height: 35px!important;
  }

}


  $svg-color: #fff;
  a{
    text-decoration: none!important;
  }

  .header-container{
    height: 70px!important;
  }

  .logo{
    height: 40px;
    width: 260px;
    //max-width: 250px!important;
    //max-height: 43px!important;
    //min-width: 172px;
    //min-height: 31px;
  }


  .text{
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: var(--Headlines, #393939);
  }

  .text-lighter{
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    color: var(--Headlines, #393939);
  }

  .text-mid{
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--Headlines, #393939);
  }


  .header-ul{
    list-style: none;
    align-items: center;
    padding-top: 20px;
    padding-left: 0!important;
    position: relative;
    justify-self: center;

    li{
      display: inline-block;
      margin-left: 100px;
    }

    li:first-child{
      margin-left: 0px;
    }

  }

  .header-ul a{
    text-decoration: none!important;
    color: #000!important;

    &::after{
      content: '';
      width: 0%;
      display: block;
      background: #000;
      height: 2px;
      transition: all 0.4s ease;
    }


    &:hover::after{
      width: 100%;
    }
  }


  .button-header{
    border-radius: 30px!important;
    padding: 10px 20px !important;
    background: #000!important;
    color: white!important;
    font-size: 17px!important;
    transition: all 0.2s ease!important;

    &:hover{
      background: #fff!important;
      color: #000!important;
      border-bottom-width: 4px!important;
      & svg path {
        fill: #000000;
      }
    }

    &:active{
      border-bottom-width: 1px;
    }
  }

  //////////////////////////////////////////////////  //////////////////////////////////////////////////  //////////////////////////////////////////////////

main{
  font-style: italic;
  font-size: 200px!important;
  height: 100vh;
}
.cs{
  margin-top: 100px;
}

  //////////////////////////////////////////////////  //////////////////////////////////////////////////  //////////////////////////////////////////////////
  footer{
    width: 100%;
    height: 250px;
  }

  .span{
    height: 100px;
  }

  .footer-ul{
    height: 100%;
    list-style: none;
    justify-self: center;

    li{
      display: block;
      margin-top: 24.5px;
    }

    & .first-li{
      margin-top: 0!important;
    }


    &:last-child{
      flex-wrap: nowrap!important;
    }
  }

  .instagram-logo{
    height: 30px!important;
    width: 30px!important;
    padding: 0!important;

  }

  .github-logo{
    height: 30px!important;
    width: 30px!important;
    padding: 0!important;
  }

  a.text-mid{
    font-weight: 500!important;
    padding-left: 0!important;
  }

  .footer-ul a{
    padding-top: 4px!important;
    padding-bottom: 4px!important;
    padding-left: 7px!important;
    padding-right: 7px!important;
    text-decoration: none!important;
    color: #000000 !important;
    box-shadow: inset 0 0 0 0 rgb(159,195,252);
    transition: all .4s ease!important;

    &:hover{
      color: #000!important;
      box-shadow: inset 200px 0 0 0 rgb(159,195,252);
    }
  }

  .social-medias a{
    text-decoration: none!important;
    color: #000!important;
    transition: all 0.4s ease!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    padding-left: 3px!important;
    padding-right: 3px!important;

    &:hover{
      color: #000!important;
      box-shadow: inset 200px 0 0 0 rgb(159,195,252);
    }
  }


